/**errorerrorerrorerror
 * Licensed to Jasig under one or more contributor license
 * agreements. See the NOTICE file distributed with this work
 * for additional information regarding copyright ownership.
 * Jasig licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a
 * copy of the License at:
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on
 * an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

/* New success style */
.uportal-channel-success, 
p.uportal-channel-success {padding:1em 1em 1em 3em; border:2px solid; color:#004800; background:#D1F0E0 url(/ResourceServingWebapp/rs/famfamfam/silk/1.3/accept.png) 1em 1em no-repeat;}

.blackboardVCRoot .error
{
    color: #ff0000;
}

.blackboardVCRoot.config-telephony table.telephony .error {
    float: right;
}

.blackboardVCRoot div.ajaxerror {
    display: none;
    color: #ff0000;
}

.blackboardVCRoot .help-link
{
	float: right;
	padding-bottom : 1em;
}

.blackboardVCRoot .ui-dialog .ui-dialog-title {
	float: left;
	margin: .1em 0;
	white-space: nowrap;
	width: 90%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.blackboardVCRoot .dataTables_length label {
	float : left;
}

.blackboardVCRoot .dataTables_filter {
	float : right;
}

.blackboardVCRoot .paginate_enabled_next {
	padding-left: 2em;
}

.blackboardVCRoot .paginate_enabled_next a:HOVER {
	cursor: pointer;
}

.blackboardVCRoot .paginate_enabled_previous a:HOVER {
	cursor: pointer;
}

.blackboardVCRoot .paginate_disabled_next {
	padding-left: 2em;
	color: gray!important;
}

.blackboardVCRoot .paginate_disabled_previous {
	color: gray!important;
}

.blackboardVCRoot table.participantList {
	background-color: #efe8dc !important;
	width : 80%;
}

.blackboardVCRoot table .odd {
	background-color:#fff;
}

.blackboardVCRoot table .even {
	background-color:#eee;
}

.blackboardVCRoot table .sorting {
	background: url("../images/sort_both.png") no-repeat center right;
}

.blackboardVCRoot table .sorting_asc {
	background: url("../images/sort_asc.png") no-repeat center right;
}

.blackboardVCRoot table .sorting_desc {
	background: url("../images/sort_desc.png") no-repeat center right;
}

.blackboardVCRoot .dt {
	cursor: pointer;
}

.blackboardVCRoot #recordingList {
	text-align: center;
}

.blackboardVCRoot .dataTables_paginate {
	float:right;
}

.blackboardVCRoot .dataTables_paginate a {
	padding-left : 1em;
	padding-right : 1em;
}

.blackboardVCRoot .viewSession {
	width: 100%;
}

.blackboardVCRoot .label {
	width: 20%;
	vertical-align: top;
	text-align: left;
}

.blackboardVCRoot .dataTables_wrapper {
	overflow: hidden;
}

.blackboardVCRoot .ui-autocomplete-loading {
	background: #fff url(../images/ajax-loader.gif) no-repeat 95%;
}

.blackboardVCRoot .ui-state-active {
	background: none #fff;
	margin-bottom : 0;
	padding-bottom : 1px;
}

.blackboardVCRoot  .destroy {
        cursor: pointer;
        width: 15px;
        height: 15px;
        background: url(../images/destroy.png) no-repeat;
        display: inline-block;
    }

.blackboardVCRoot  .destroy:hover {
        background-position: 0 -15px;
    }

.bbc-ui-tooltip, .bbcArrow:after {
    background: white;
    border: 2px solid grey;
  }
  .bbc-ui-tooltip {
    padding: 1em 2em;
    color: black;
    border-radius: 2em;
    font: bold;
    box-shadow: 0 0 .5em white;
    width: 20em;
  }
  .bbcArrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
  }
  .bbcArrow.top {
    top: -16px;
    bottom: auto;
  }
  .bbcArrow.left {
    left: 20%;
  }
  .bbcArrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    box-shadow: 6px 5px 9px -9px black;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    tranform: rotate(45deg);
  }
  .bbcArrow.top:after {
    bottom: -20px;
    top: auto;
  }
  
  .ui-timepicker-wrapper {
	overflow-y: auto;
	height: 150px;
	width: 6.5em;
	background: #fff;
	border: 1px solid #ddd;
	-webkit-box-shadow:0 5px 10px rgba(0,0,0,0.2);
	-moz-box-shadow:0 5px 10px rgba(0,0,0,0.2);
	box-shadow:0 5px 10px rgba(0,0,0,0.2);
	outline: none;
	z-index: 10001;
	margin: 0;
}

.ui-timepicker-wrapper.ui-timepicker-with-duration {
	width: 11em;
}

.ui-timepicker-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.ui-timepicker-duration {
	margin-left: 5px; color: #888;
}

.ui-timepicker-list:hover .ui-timepicker-duration {
	color: #888;
}

.ui-timepicker-list li {
	padding: 3px 0 3px 5px;
	cursor: pointer;
	white-space: nowrap;
	color: #000;
	list-style: none;
	margin: 0;
}

.ui-timepicker-list:hover .ui-timepicker-selected {
	background: #fff; color: #000;
}

li.ui-timepicker-selected,
.ui-timepicker-list li:hover,
.ui-timepicker-list .ui-timepicker-selected:hover {
	background: #1980EC; color: #fff;
}

li.ui-timepicker-selected .ui-timepicker-duration,
.ui-timepicker-list li:hover .ui-timepicker-duration {
	color: #ccc;
}

.ui-timepicker-list li.ui-timepicker-disabled,
.ui-timepicker-list li.ui-timepicker-disabled:hover,
.ui-timepicker-list li.ui-timepicker-selected.ui-timepicker-disabled {
	color: #888;
	cursor: default;
}

.ui-timepicker-list li.ui-timepicker-disabled:hover,
.ui-timepicker-list li.ui-timepicker-selected.ui-timepicker-disabled {
	background: #f2f2f2;
}

.blackboardVCRoot .required{
    color:#FF0000;
    padding-right:2em;
}
  
.blackboardVCRoot.config-telephony p.telephony-info {
    padding: 0 1em 1em 1em;
    font-size : small;
    text-align: left;
    
}

.blackboardVCRoot-notification-success {
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
    padding: 5px;
    background-color: lightgreen;
    font-weight: 600;
    cursor: pointer;
}

/* Overriding Styles to be inline with http://f5c4d8.axshare.com/#p=home */
h1{
    font-size: 32px;
    font-weight: 700;
    color:#212121;
}

.ui-tabs .ui-tabs-panel .centered-content{
    text-align: center;
}

.ui-tabs .ui-tabs-panel .centered-content h2{
    font-size: 30px;
    font-weight: 700;
}
.ui-tabs .ui-tabs-panel .centered-content p.highlighted-link a {
    color: #0479a8 !important;
    text-decoration: underline;
    font-weight: 700;
}

.my-uw .btn-flat, .my-uw .btn-flat:hover{
    background-color: #0479a8;
    box-shadow: 4px 4px 6px #bcbcbc;
    transition: none;
    transform:none;
    border-bottom: none;
}
.my-uw .btn-flat{
    margin: 20px 0px;
    padding: 15px 20px;
    font-weight: 700;
    font-size: 20px;
}
.bb-content-container .form-group .col-md-3{
    text-align: right;
    
}
.bb-content-container h4{
    text-decoration: underline;
}
.bb-content-container .form-group .col-md-3 select{
    float: left;
}
.blackboardVCRoot div[id^="Pluto_996_u115l1n107_12861_"] th, .blackboardVCRoot  div[id^="Pluto_2396_u8461l1n153_12861_"] th{
    background-color: #ffffff !important;
    color: #000000;
    font-size: 16px;
    border-bottom: solid 1px #000000;
    line-height: 40px;
}
div[id^="Pluto_996_u115l1n107_12861_"] td, div[id^="Pluto_2396_u8461l1n153_12861_"] td{
    line-height: 40px;
}

th, td{
    padding:0 10px;
}
td{
    padding-top:5px;
    padding-bottom:5px;
}
.blackboardVCRoot .help-link {
    float: none;
    padding-bottom: 1em;
    clear: both;
    height: 45px;
}

.blackboardVCRoot .help-link a{
    float: right;
}

.btn-small-blue{
    background-color: #0479a8 !important;
    box-shadow: none !important;
    transition: none !important;
    transform:none !important;
    border-bottom: none !important;
    color: #ffffff !important;
    font-size: 16px;
    margin-left: 30px !important;
    border: solid 1px #0479a8 !important;
}
.btn-small-blue:hover, .btn-small-blue:active{
    background: #ffffff !important;
    color: #0479a8 !important;
    border: solid 1px #0479a8 !important;
    transition: none !important;
    transform:none !important;
}

div.viewSession{
    padding:3% 0 2%;
}
div.viewSession a{
    color: #0479a8 !important
}
div.viewSession a.btn, div.viewSession .btn{
    background-color: #0479a8 !important;
    box-shadow: none !important;
    transition: none !important;
    transform:none !important;
    border-bottom: none !important;
    color: #ffffff !important;
    font-size: 16px;
    border: solid 1px #0479a8 !important;
}
div.viewSession a.btn:hover, div.viewSession a.btn:active, div.viewSession .btn:hover, div.viewSession .btn:active{
    background: #ffffff !important;
    color: #0479a8 !important;
    border: solid 1px #0479a8 !important;
    transition: none !important;
    transform:none !important;
}
a.btn.btn-success.uportal-button {
    background-color: #009411 !important;
}
a.btn.btn-success.uportal-button:hover{
    background: #ffffff !important;
    color: #009411 !important;
    border: solid 1px #009411 !important;
    transition: none !important;
    transform:none !important;
}
a.btn.btn-default.btn-back.uportal-button {
    float: left;
}
a.btn.btn-success.uportal-button {
    padding: 7px 80px;
}
div.viewSession ul{
    padding-left: 0px;
}
div.viewSession ul li{
    font-size: 14px;
    text-transform: capitalize;
}
div.viewSession label{
    font-size: 16px;
}
.session-label, .session-status {
    font-size: 18px;
    font-weight: bold;
}
.session-large-heading {
    font-size: 28px;
    font-weight: bold;
}
.session-medium-heading {
    font-size: 22px;
    font-weight: bold;
}
.divider{
    padding: 60px 0 10px;
    border-top: solid 1px #999999;
    margin-top: 50px;
    text-align: center;
    margin-bottom: -20px;
}
.divider span{
    font-size: 20px;
    font-weight: bold;
    display: block;
    background: #ffffff;
    text-align: center;
    margin: -78px auto;
    width: 60px;
    color:#999999;
}
.session-guest-choice-one{
    padding-top:40px;
}
.session-guest-choice-one, .session-guest-choice-two, .divider{
    margin-left:40px;

}
.session-descriptive-text{
    font-size: 16px;
    color:#666666;
    font-weight: 700;
    display: block;
}
hr{
    border-top:1px solid #666666;
    margin-top:45px;
    margin-bottom:45px;
}
















































